// variables

$frenchBlue: #474BB5;
$darkBlue: #044779;
$grey: #f3faff;
$aqua: #08fded;
$turqoise: #03697c;



/*<!--general ruleszzzzz-->*/
html {
	font-size: 62.5%;  


}

// * {
//     margin: 0 auto;
// }

.wrapper {
    max-width: 1180px;
	margin: 0 auto;
    width: 90%;

}

img {
    max-width: 100%;

}

li {
    font-size: 20px;
    font-family: roboto bold;
}