header {
    background-image: url(../funplace-assets/home-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding-top: 20px;
}

.mainMenu nav ul{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
} li {
    padding-right: 20px;
    color: $grey;
    list-style-type: none;
    line-height: 29px;
    letter-spacing: 1px;

}

.headerText {
    // height: 80%;
    padding-top: 250px;
}

.headerText h1 {
    font-family: Walter Turncoat;
    color: $grey;
    font-size: 14rem;
    margin: 0;
    
}

.skateKid {
    position: absolute;
    // height: 50%;
    width: 40%;
    bottom: 50px;
    right: 0px;
}