header {
    background-image: url(../funplace-assets/home-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    padding-top: 20px;
}

.mainMenu nav ul{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
} li {
    padding-right: 20px;
    color: $grey;
    list-style-type: none;
    line-height: 29px;
    letter-spacing: 1px;

}

.headerText h1 {
    font-family: Walter Turncoat;
    color: $grey;
    font-size: 145.2px;
    margin: 0;
    padding-top: 200px;
}

.skateKid {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 100px;
    right: 100px;
}